<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Essential Character Encoding -->
        <meta charset="utf-8">
    
        <!-- Responsive Design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link rel="stylesheet" href="../static/style.css">
    <title>ASCII Art Web</title>
</head>
<body>
    <h1>ASCII Art Generator</h1>
    <form method="POST" action="/ascii-art"  >
        <div class="subtitle"><p>Text:</p></div><br>
        <textarea name="text" rows="4" cols="50" placeholder="Write something here..."></textarea><br>
        <div class="subtitle"><p>Banner Style:</p></div><br>
        <div class="input-main">
            <input type="radio" name="banner" value="standard" id="standard" checked><label for="standard"> Standard</label><br>
            <input type="radio" name="banner" value="shadow" id="shadow"><label for="shadow"> Shadow</label><br>
            <input type="radio" name="banner" value="thinkertoy" id="thinkertoy"> <label for="thinkertoy"> Thinkertoy</label><br><br>
        </div>
        <div class="submit-btn">

            <button  type="submit">Generate</button>
        </div>
    </form>
    <div class="art-result"><pre>{{.}}</pre></div>
</body>
</html>
